:root {
  --quagsire-water: #83D5F6;
  --quagsire-mist: #629CBD;
  --quagsire-colby: #627BA4;
  --quagsire-muddy: #6A5A8B;
  --quagsire-nuoh: #3194A4;
}

.active {
  text-shadow: -3px 3px 0 var(--quagsire-water);
}

.text-quagsire-muddy {
  color: var(--quagsire-muddy) !important;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* .text-shpere {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
} */

.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  letter-spacing: 0.0625em;
  font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
  color: white;
  text-transform: uppercase;
}

.tagcloud--item:hover {
  color: var(--quagsire-muddy);
}

.tagcloudTablet {
  height: 20px !important;
  width: 20px !important;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

#Rain {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.drop {
  background: #000;
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  animation: falling 1.5s linear infinite;
}

@media (max-width: 600px) {
  #Rain {
    height: 105vh;
  }
}

@keyframes falling {
  0% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(0, 1000px)
  }
}